* {
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: 40px;
}
.grid-container{
    width: 80%;
    height: 80vh;
    background-color: red;
    display: grid;
    gap: 5px;
    margin: 5% 10%;
    grid-template-areas:
    "header header header header"
    "menu main main ad1"
    "menu main main ad1"
    "ad2 main main ad1"
    "footer footer footer footer";
}
.grid-item{
    border: 1px solid red;
    
}
.item1{
    grid-area: header;
    background-color: blue;
}
.item2{
    grid-area: menu;
    background-color: slateblue;
}
.item3{
    grid-area: ad2;
    background-color: slateblue;
}
.item4{
    grid-area: main;
    background-color: slateblue;
}
.item5{
    grid-area: ad1;
    background-color: slateblue;
}
.item6{
    grid-area: footer;
    background-color: blue;
}

        
    






    

    





